:root{
    --brancoPrincipal: #FFFFFF;
    --cinzaSecundario: #C0C0C0;
    --azulBotao: #167BF7;
    --corFundo: #00030C;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corFundo);
    color: var(--brancoPrincipal);
}

.botaoAzul{
    background-color: var(--azulBotao);
    color: var(--brancoPrincipal);
}

.botaoInvisivel{
    background-color: transparent;
    color: var(--brancoPrincipal);
}

.parte1{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;

}