@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

:root{
    --background: #222831;
    --cor-primaria: #EEEEEE;
    --cor-secundaria: #00ADB5;
    --cor-hover: #393E46;

    --Krona:'Krona One', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    color: var(--cor-primaria);
    box-sizing: border-box;
}

.apresentacao2{
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 7% 0 0 13%;    */
    gap: 82px;
}

.conteudo2{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SobreMim_TEXTO{
    font-family:var(--Krona);
    font-size: 2.25rem;
    font-weight: 400;
}

.SobreMim_PARAGRAFO{
    font-family:var(--Montserrat) ;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 14% 0 0;
}

.imagem{
    width:50%;
}
    
.rodape {
    background-color: var(--cor-secundaria);
    color: var(--background);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family:var(--Montserrat);
    font-weight: 400;
    margin: 8% 0 0 0;
}

.cabecalho{
    padding: 2% 0  0 13%;
}
    
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
    
.cabecalho_link {
    font-family:var(--Montserrat);
    color: var(--cor-secundaria);
    font-size: 1.375rem;
    font-weight: 600;
    text-decoration: underline;
} 

@media (max-width: 1200px){
    .apresentacao2{
        flex-direction: column-reverse;
    }
    
   .conteudo2{
        width: auto;
    }

    .cabecalho{
        padding: 10%;
    }
    
    .cabecalho_menu{
        justify-content: center;
    }
}
